.header-line{
    line-height:65px;
    height:70px;
    width:100%;

    background-color: #ffffff;
    border-bottom: 2px solid #efefef;

}

.header-text{

    font-size:30px;
    font-weight: 600;
    color: #00138a;
    letter-spacing: 3px;
    margin-left:5%;

}